*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Nav */

#navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .navbar-container{
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 0;
}

#navbar .navbar-container .logo{
    height: 40px;
    width: auto;
}

#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li{
    display: flex;
    padding: 0 20px; 
}

#navbar .navbar-container ul li:nth-child(3){
border-right: 1px solid white;
}

/* MENU */

#MENU{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(img/showcase.webp) center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;

}

#MENU .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-text {
    background: #1DB954;
    color: white;
    text-transform: uppercase;
    padding: 20px 50px ;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}